.judge-events[data-v-b04bd66a]{padding:20px;max-width:1200px;margin:0 auto}.card[data-v-b04bd66a]{transition:transform .2s}.card[data-v-b04bd66a]:hover{transform:translateY(-5px);box-shadow:0 5px 15px #0000001a}
